{% extends "base.html"%}
{%block main%}

    <h1>Calculate Average Marks</h1>
    <form action="{{url_for('form')}}" method='POST'>
            <input type="text" placeholder="Maths" name="maths" required="required"> <br><br><br>
            <input type="text" placeholder="Science" name="science" required="required"><br><br><br>
            <input type="text" placeholder="History" name="history" required="required"><br><br><br>
            <input  type="submit" name="submit" ><br><br><br>
            <!-- <botton type="submit"> Average </button> -->

        </form>
        <br><br><br><br><br>
        The average mark is= {{score}}
  {%endblock%}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    -->
  </body>
</html>