
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="{{url_for('home')}}">Home </a>   </li>
        <li><a href="{{url_for('about')}}">About </a>  </li>
        <li><a href="{{url_for('contact')}}">Contact </a></li>
    </ul>
    <!-- <textarea name="description" cols="30" rows="10"></textarea>
    <input type="text">
    <input type="password"br*3>
    <input type="submit" name="submit">
     -->
     <a href="https://www.youtube.com/watch?v=5J2J9Ywg1Pc"><!-- # redirect --> 
        Machine Learning Roadmap 2022

     </a>
     
     
</body>
</html>
